// colores
$color-principal: rgb(230, 211, 109);
$color-secundario: rgba(255, 255, 255, 0.3);
$color-terciario: #000000;
$blanco:rgb(255, 255, 255);
$colortexto-principal:rgb(230, 211, 109);
$colortexto-secundario:#000000;
// espaciados
$espaciadoestandar:1%;
$espaciadodoble:2%;
$espaciadotriple:3%;
// tipografias
$tipografia-general: 'PT Sans', sans-serif;